#Fri Oct 14 22:42:10 IST 2022
mail.smtp.toEmail=ENC1(QGg+bDf1ryzIdPkCoytmkz0zv9CGVPtmof4lTwX3Q2aevTDwaqLGRNmgxssokC1lgMCr8dNrtzsCKOkxZmnTBw\=\=)
mail.smtp.ssl.enable=false
mail.smtp.other.port=
Encryptor.check=Provar
mail.smtp.starttls.required=false
mail.smtp.host=smtp.gmail.com
mail.smtp.timeout=60000
mail.smtp.starttls.enable=false
mail.smtp.port=587
mail.smtp.username=ENC1(PHI2ym6siAaP+KincRd5e6nOoMxeELyfq/kXEfNL2Qz4VM3gy61HvlL/gSlUyumOvNPES3xLmKuOWu03BQPwBA\=\=)
mail.smtp.password=ENC1(yHRLc16APtSkXk9zod/BFfTHpe2ajTutk9czaqY/R71i095dxWvLb5tZTr2eQMkk2TkppdZJPwkLPg2zFyQElg\=\=)
mail.smtp.other.host=
